<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Company Details
        </div>
        <div class="card-body">
          <div class="col-md-6">
            <div class="each-contact">
              <h4>INDIA - Chennai</h4>
              <p>
                3rd Floor, "Block A", Tek Meadows, No. 51,
                <br>Rajiv Gandhi Salai (OMR),
                <br>Sholinganallur, Chennai - 600119
              </p>
              <p><a href="tel:+914449098874"><i class="fa fa-phone"></i>&nbsp; +91-44 4909 8874</a></p>
              <p><a href="mailto:hello@tvsnext.io"><i class="fa fa-envelope-o"></i>&nbsp; hello@tvsnext.io</a></p>
            </div>
          </div>
          <div class="col-md-6 rating-tab">

            <span class="heading">Rating</span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p>4.1 average.</p>
            <hr style="border:3px solid #f1f1f1">           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
