<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Company Details
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="each-contact">
                <h4>INDIA - Chennai</h4>
                <p>
                  3rd Floor, "Block A", Tek Meadows, No. 51,
                  <br>Rajiv Gandhi Salai (OMR),
                  <br>Sholinganallur, Chennai - 600119
                </p>
                <p><a href="tel:+914449098874"><i class="fa fa-phone"></i>&nbsp; +91-44 4909 8874</a></p>
                <p><a href="mailto:hello@tvsnext.io"><i class="fa fa-envelope-o"></i>&nbsp; hello@tvsnext.io</a></p>
              </div>
            </div>
            <div class="col-md-6 rating-tab">

              <span class="heading">Rating</span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <p>4.1 average.</p>
              <hr style="border:3px solid #f1f1f1">
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="icon-basket-loaded bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 font-weight-bold">#3</div>
          <div class="text-muted text-uppercase font-weight-bold">Live Projects</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="icon-people bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 font-weight-bold">#3480</div>
          <div class="text-muted text-uppercase font-weight-bold">Contract Employees</div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          New Job Openings
        </div>
        <div class="card-body">
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">
                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB12</div>
                  <p>#500 Appointments</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">

                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB145</div>
                <p>#200 Appointments</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">
                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB14</div>
                <p>#10 Appointments</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">
                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB156</div>
                <p>#120 Appointments</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Employee Grievances
        </div>
        <div class="card-body">
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">
                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB12</div>
                <p>#50 Grievances Reported</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">

                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB145</div>
                <p>#20 Grievances Reported</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">
                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB14</div>
                <p>#10 Grievances Reported</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
          <div class="card-jobs">
            <div class="card">
              <div class="card-body">
                <div class="text-muted text-uppercase font-weight-bold">Project_ID: JB156</div>
                <p>#120 Grievances Reported</p>
                <a class="h5 text-info mb-0 font-weight-bold float-right">view</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
