<div class="animated fadeIn" ng-controller="userController">
  <div class="row">
    <div class="col-9">
      <form class="form-horizontal ng-pristine ng-valid">
        <div class="form-group row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="searchUser(userselected)"><i class="fa fa-search"></i> Search</button>
              </span>
              <input type="text" id="users" name="search" class="form-control autocomplete"
                     ng-model="userselected" autocomplete="off"
                     uib-typeahead="state as state.systemid for state in userlistdata | filter:{systemid:$viewValue}"
                     placeholder="search..">
            </div>
          </div>
        </div>
      </form>
      <div class="card" ng-show="selectedUsers">
        <div class="card-header">
          <strong>{{selectedUsers.role}}</strong>
        </div>
        <div class="card-body" ng-show="selectedUsers.role=='Employee'">
          <div class="row">
            <div class="col-3">
              <div><strong>Name</strong></div>
              <div class="blue-text"><strong>{{selectedUsers.name}}</strong></div>
            </div>
            <div class="col-3">
              <div><strong>Role</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.role}}</strong>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-3">
              <div><strong>Age</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.age}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Address</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.address}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Pin</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.pincode}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Email</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.email}}</strong>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-3">
              <div><strong>Passport #</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.passport}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Aadhar #</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.aadhaar}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Pan #</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.pan}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Sys</strong></div>
              <div class="blue-text">
                <div align="center" width="150px" id="Employeeqrcode"></div>
                <!--<div id="qrcodeCanvas"></div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" ng-show="selectedUsers.role=='Employer'">
          <div class="row">
            <div class="col-3">
              <div><strong>Name</strong></div>
              <div class="blue-text"><strong>{{selectedUsers.name}}</strong></div>
            </div>
            <div class="col-3">
              <div><strong>Role</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.role}}</strong>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-3">
              <div><strong>Address</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.address}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Type</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.orgtype}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Email</strong></div>
              <div class="blue-text">
                <strong>{{selectedUsers.email}}</strong>
              </div>
            </div>
            <div class="col-3">
              <div><strong>Sys</strong></div>
              <div class="blue-text">
                <div align="center" id="Employerqrcode"></div>
                <!--<div id="qrcodeCanvas"></div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" ng-show="selectedUsers">
        <div class="card-header">
          <strong>Private</strong>
        </div>
        <div class="card-body">
          <div class="">
            <p>you dont have permission.Request Permission?</p>
          </div>
          <div class="mt-4">
            <label class="radio-inline" for="inline-radio3">
              <input type="radio" id="inline-radio3" name="permission" value="yes">yes
            </label>
            <label class="radio-inline" for="inline-radio3">
              <input type="radio" id="inline-radio3" name="permission" value="no">No
            </label>
          </div>
          
          </div>
        </div>
    </div>
    <div class="col-3">
      <div class="sidebar ledgerSidebar" style="width: 100%;max-width: 25%;background-color:#40347d">
        <nav class="sidebar-nav ledger" style="width: 284px">
          <div class="card">
            <div class="card-header" style="background-color: #312667;border-bottom-color: transparent;">
              <i class="icon-graph"></i>Ledger Activity
            </div>
            <div class="card-body" style="background-color:#40347d">
              <div class="row" style="padding: 5px">
                <div class="col-6">
                  <large class="text-muted mr-3" style="color: white !important;"><i class="icon-calendar"></i>&nbsp; 20-12-2017</large>
                </div>
                <div class="col-6">
                  <large class="text-muted mr-3" style="color: white !important;"><i class="icon-calendar"></i>&nbsp; 21-12-2017</large>
                </div>
              </div>
              <p style="color:#b3a43d;padding-top: 10px;padding-left: 5px;">Thu 21 Dec 2017</p>
              <div class="row" style="padding:7px">
                <div class="col-4">
                  <span style="color:#7f76a7">09:55:12</span>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 5px;font-size: small;">
                    <span>Insurance DEF approved the data to owner : ABC</span>
                  </p>
                </div>
              </div>
              <div class="row" style="padding:7px">
                <div class="col-4">
                  <span style="color:#7f76a7">09:30:10</span>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 5px;font-size: small;">
                    <span>Owner ABC granted DEF permission to read private data: Bills & Receipts</span>
                  </p>
                </div>
              </div>
              <div class="row" style="padding:7px">
                <div class="col-4">
                  <span style="color:#7f76a7">09:24:12</span>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 5px;font-size: small;">
                    <span>Insurance DEF requested owner ABC permission to view the data</span>
                  </p>
                </div>
              </div>
              <p style="color:#b3a43d;padding-top: 10px;padding-left: 5px;">Wed 20 Dec 2017</p>
              <div class="row" style="padding:7px">
                <div class="col-4">
                  <span style="color:#7f76a7">09:55:12</span>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 5px;font-size: small;">
                    <span>Insurance DEF approved the data to owner : ABC</span>
                  </p>
                </div>
              </div>
              <div class="row" style="padding:7px">
                <div class="col-4">
                  <span style="color:#7f76a7">09:30:10</span>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 5px;font-size: small;">
                    <span>Owner ABC granted DEF permission to read private data: Bills & Receipts</span>
                  </p>
                </div>
              </div>
              <div class="row" style="padding:7px">
                <div class="col-4">
                  <span style="color:#7f76a7">09:24:12</span>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 5px;font-size: small;">
                    <span>Insurance DEF requested owner ABC permission to view the data</span>
                  </p>
                </div>
              </div>
              <div class="card-header" style="background-color: #312667;  margin-left: -13px; margin-right: -12px;border-bottom-color: transparent;">
                <i class="fa fa-archive"></i>Ledger Explorer
              </div>
              <div class="row" style="padding:5px">
                <div class="col-6">
                  <large class="text-muted mr-3" style="color: white !important;"><i class="icon-calendar"></i>&nbsp; 20-12-2017</large>
                </div>
                <div class="col-6">
                  <large class="text-muted mr-3" style="color: white !important;"><i class="icon-calendar"></i>&nbsp; 21-12-2017</large>
                </div>
              </div>
              <div class="row" style="padding-top: 20px;">
                <div class="col-4">
                  <button type="button" class="btn btn-primary" style="background-color:white;color:black;width:70px">88</button>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 8px;font-size: small;">
                    <span>544dggtc455g55dd4gghjjkytuyttg55</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <button type="button" class="btn btn-primary" style="background-color:white;color:black;width:70px">88</button>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 8px;font-size: small;">
                    <span>544dggtc455g55dd4gghjjkytuyttg55</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <button type="button" class="btn btn-primary" style="background-color:white;color:black;width:70px">88</button>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 8px;font-size: small;">
                    <span>544dggtc455g55dd4gghjjkytuyttg55</span>
                  </p>
                </div>
              </div>
              <div class="row" style="padding-bottom: 20px;">
                <div class="col-4">
                  <button type="button" class="btn btn-primary" style="background-color:white;color:black;width:70px">88</button>
                </div>
                <div class="col-8">
                  <p style="border-bottom-style: outset;border-bottom-width: 1.1px;padding-bottom: 8px;font-size: small;">
                    <span>544dggtc455g55dd4gghjjkytuyttg55</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>